body{
    margin: 0;
}
#video{
    background-image: url("./assets/students.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 52vw;
    width: 99vw;
    display: flexbox;
    position: relative;
}

#video h1{
    color: white;
    background-color: black;
    opacity: 0.75;
    text-align: center;
    width: 45%;
    margin-top: 20%;
    margin-left: 25%;
    margin-bottom: 1%;
    position: absolute;
}

#learnMore{
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 15%;
    margin-left: 25%;
    margin-top: 23%;
    position: absolute;
}

#pageJump{
    margin-left: 47%;
    margin-top: 47%;
    position: absolute;
}

#pageJump img{
    border-radius: 100%;
    height: 25%;
    width: 25%;
}

#navbar{
    overflow: hidden;
    width: 100%;
    background-color: darkslategrey;
    position: fixed;
    z-index: 1;
}

#logo{
    float: left;
}

#rightLinks{
    float: right;
    min-width: 53%;
}

#rightLinks a{
    color: white;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}

#schedule{
    background-color: lightskyblue;
    border-left: 1% solid white;
    border-right: 1% solid white;
}

#apply{
    background-color: red;
    border-left: 1% solid white;
    border-right: 1% solid white;
}

#academyInformation h2{
    color: lightskyblue;
}

#courseInformationWrapper h1{
    color: lightskyblue;
}

#magGlass{
    width: 45px;
    height: 45px;
}

#courseInformationWrapper{
    display: flexbox;
    height: 60vh;
    width: 95vw;
    padding: 2%;
    text-align: center;
    background-color: lightgrey;
}

.classInformation{
    margin: 0.35%;
    width:20%;
    height: 40vh;
    padding: 0%;
    display: inline-grid;
    background-color: white;
}

.classInformation p{
    padding: 2%;
}

.classInformation a{
    background-color: red;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#academyInformation{
    display: flexbox;
    height: 50vh;
    width: 100%;
    position: relative;
}

#blurb{
    margin-left: 30%;
}
#blurb img{
    float: left;
}

#blurb p, #blurb h2{
    width: 45%;
    margin-top: 2%;
}

#partners{
    margin-top: 7%;
    text-align: center;
}