body{
    margin: 0;
    font-family: Overpass, Arial, Helvetica, sans-serif;
}

h2{
    margin-bottom: 0;
}

#video{
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0;
}

#videoText h1{
    color: white;
    background-color: black;
    opacity: 0.75;
    text-align: center;
    font-size: 55px;
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
    position: absolute;
}

#learnMore{
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 15%;
    margin-left: 25%;
    margin-top: 24%;
    position: absolute;
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 32px;
}

#pageJump{
    margin-left: 47%;
    margin-top: 47%;
    position: absolute;
}

#pageJump img{
    border-radius: 100%;
    height: 25%;
    width: 25%;
    opacity: 0.7;
}

#navbar{
    overflow: hidden;
    width: 100%;
    background-color: darkslategrey;
    position: fixed;
    z-index: 1;
}

#logo{
    float: left;
}

#rightLinks{
    float: right;
    min-width: 45%;
}

#rightLinks a{
    color: white;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Lucida Sans', monospace;
    font-weight: bold;
}

#schedule{
    background-color: lightskyblue;
    border-left: 1% solid white;
    border-right: 1% solid white;
}

#apply{
    background-color: red;
    border-left: 1% solid white;
    border-right: 1% solid white;
}

#academyInformation h2{
    color: lightskyblue;
}

#courseInformationWrapper h1{
    color: lightskyblue;
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 60px;
}

#magGlass{
    width: 30px;
    height: 30px;
}

#courseInformationWrapper{
    display: flexbox;
    height: 60vh;
    width: 95vw;
    padding: 2%;
    text-align: center;
    background-color: rgb(236, 243, 243);
    position: absolute;
    margin-top: 51%;
}

.classInformation{
    margin: 0.35%;
    width:20%;
    height: 40vh;
    padding: 0%;
    display: inline-grid;
    background-color: white;
}

.classInformation h2{
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.classInformation p{
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.classInformation a{
    background-color: red;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 21px;
}

#academyInformation{
    display: flexbox;
    height: 50vh;
    width: 100%;
    position: absolute;
    margin-top: 85%;
}

#blurb{
    margin-left: 25%;
}
#blurb img{
    float: left;
}

#blurb h2{
    width: 70%;
    margin-top: 4%;
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 36px;
}

#blurb p{
    width: 67%;
    margin-top: 2%;
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 21px;
}
#partners{
    margin-top: 7%;
    text-align: center;
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 23px;
}